<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
   		<param name="threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="stdoutfile" class="org.apache.log4j.FileAppender">
		<param name="file" value="./output/log.txt"/>
   		<param name="immediateFlush" value="true"/>
   		<param name="threshold" value="INFO"/>
  		 <param name="append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	
	
	<root>
		<level value="ALL" />
		<appender-ref ref="stdout" />
		<appender-ref ref="stdoutfile" />
	</root>
</log4j:configuration>